In [2]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import os

In [8]:
BUC_0A = pd.read_csv("/Users/olbu/Documents/uni/FS_23/WASY/project_code/data/cleaned_data/230513/230513_BUC_0A.csv")
BUC_0A.info()
BUC_0A.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50739 entries, 0 to 50738
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   x              50739 non-null  float64
 1   skin_temp      50739 non-null  float64
 2   bulk_temp      49222 non-null  float64
 3   air_temp       50429 non-null  float64
 4   precipitation  50739 non-null  float64
 5   windspeed      50739 non-null  float64
 6   solar_W        50735 non-null  float64
 7   rel_humidity   50429 non-null  float64
 8   air_pressure   50739 non-null  float64
 9   datetime       50739 non-null  object
dtypes: float64(9), object(1)
memory usage: 3.9+ MB

x                   0
skin_temp           0
bulk_temp        1517
air_temp          310
precipitation       0
windspeed           0
solar_W             4
rel_humidity      310
air_pressure        0
datetime            0
dtype: int64

In [9]:
print(min(BUC_0A.datetime))
print(max(BUC_0A.datetime))

2016-09-08 13:00:00
2022-11-25 00:00:00

In [8]:
BUC_1A = pd.read_csv("/Users/olbu/Documents/uni/FS_23/WASY/project_code/data/cleaned_data/230513/230513_BUC_1A.csv")
BUC_1A.info()
BUC_1A.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48927 entries, 0 to 48926
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   x              48927 non-null  float64
 1   skin_temp      48927 non-null  float64
 2   bulk_temp      48927 non-null  float64
 3   air_temp       48927 non-null  float64
 4   precipitation  48927 non-null  float64
 5   windspeed      48927 non-null  float64
 6   solar_W        48927 non-null  float64
 7   rel_humidity   48927 non-null  float64
 8   air_pressure   48927 non-null  float64
 9   datetime       48927 non-null  object
 10  Quality        48927 non-null  int64
dtypes: float64(9), int64(1), object(1)
memory usage: 4.1+ MB

x                0
skin_temp        0
bulk_temp        0
air_temp         0
precipitation    0
windspeed        0
solar_W          0
rel_humidity     0
air_pressure     0
datetime         0
Quality          0
dtype: int64

In [9]:
BUC_1B = pd.read_csv("/Users/olbu/Documents/uni/FS_23/WASY/project_code/data/cleaned_data/230513/230513_BUC_1B.csv")
BUC_1B.info()
BUC_1B.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17600 entries, 0 to 17599
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   x              17600 non-null  float64
 1   skin_temp      17600 non-null  float64
 2   bulk_temp      17600 non-null  float64
 3   air_temp       17600 non-null  float64
 4   precipitation  17600 non-null  float64
 5   windspeed      17600 non-null  float64
 6   solar_W        17600 non-null  float64
 7   rel_humidity   17600 non-null  float64
 8   air_pressure   17600 non-null  float64
 9   datetime       17600 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.3+ MB

x                0
skin_temp        0
bulk_temp        0
air_temp         0
precipitation    0
windspeed        0
solar_W          0
rel_humidity     0
air_pressure     0
datetime         0
dtype: int64

In [10]:
BUC_2A = pd.read_csv("/Users/olbu/Documents/uni/FS_23/WASY/project_code/data/cleaned_data/230513/230513_BUC_2A.csv")
BUC_2A.info()
BUC_2A.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48639 entries, 0 to 48638
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   x              48639 non-null  float64
 1   datetime       48639 non-null  object
 2   bulk_temp      48639 non-null  float64
 3   skin_temp      48639 non-null  float64
 4   air_temp       48639 non-null  float64
 5   precipitation  48639 non-null  float64
 6   windspeed      48639 non-null  float64
 7   solar_W        48639 non-null  float64
 8   rel_humidity   48639 non-null  float64
 9   air_pressure   48639 non-null  float64
 10  Quality        48639 non-null  int64
dtypes: float64(9), int64(1), object(1)
memory usage: 4.1+ MB

x                0
datetime         0
bulk_temp        0
skin_temp        0
air_temp         0
precipitation    0
windspeed        0
solar_W          0
rel_humidity     0
air_pressure     0
Quality          0
dtype: int64

In [5]:
BUC_2D = pd.read_csv("/Users/olbu/Documents/uni/FS_23/WASY/project_code/data/cleaned_data/230513/230513_BUC_3B.csv")
BUC_2D.info()
BUC_2D.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15958 entries, 0 to 15957
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   x              15958 non-null  float64
 1   datetime       15958 non-null  object
 2   bulk_temp      15958 non-null  float64
 3   skin_temp      15958 non-null  float64
 4   air_temp       15958 non-null  float64
 5   precipitation  15958 non-null  float64
 6   windspeed      15958 non-null  float64
 7   solar_W        15958 non-null  float64
 8   rel_humidity   15958 non-null  float64
 9   air_pressure   15958 non-null  float64
dtypes: float64(9), object(1)
memory usage: 1.2+ MB

x                0
datetime         0
bulk_temp        0
skin_temp        0
air_temp         0
precipitation    0
windspeed        0
solar_W          0
rel_humidity     0
air_pressure     0
dtype: int64

In [3]:
AEG_0A = pd.read_csv("/Users/olbu/Documents/uni/FS_23/WASY/project_code/data/cleaned_data/230513/230513_LakeAegeri_0A.csv")
AEG_0A.info()
AEG_0A.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17670 entries, 0 to 17669
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   x                  17670 non-null  float64
 1   skin_temp          17660 non-null  float64
 2   bulk_temp          16931 non-null  float64
 3   datetime           17670 non-null  object
 4   air_temp           17669 non-null  float64
 5   wind_speed         17669 non-null  float64
 6   air_pressure       17669 non-null  float64
 7   relative_humidity  17669 non-null  float64
 8   solar_irradiance   17669 non-null  float64
 9   meteo_timestamp    17670 non-null  float64
dtypes: float64(9), object(1)
memory usage: 1.3+ MB

x                      0
skin_temp             10
bulk_temp            739
datetime               0
air_temp               1
wind_speed             1
air_pressure           1
relative_humidity      1
solar_irradiance       1
meteo_timestamp        0
dtype: int64

In [6]:
AEG_2D = pd.read_csv("/Users/olbu/Documents/uni/FS_23/WASY/project_code/data/cleaned_data/230513/230513_LakeAegeri_3B.csv")
AEG_2D.info()
AEG_2D.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14049 entries, 0 to 14048
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   x                  14049 non-null  float64
 1   datetime           14049 non-null  object
 2   bulk_temp          14049 non-null  float64
 3   skin_temp          14049 non-null  float64
 4   air_temp           14049 non-null  float64
 5   wind_speed         14049 non-null  float64
 6   air_pressure       14049 non-null  float64
 7   relative_humidity  14049 non-null  float64
 8   solar_irradiance   14049 non-null  float64
 9   meteo_timestamp    14049 non-null  float64
dtypes: float64(9), object(1)
memory usage: 1.1+ MB

x                    0
datetime             0
bulk_temp            0
skin_temp            0
air_temp             0
wind_speed           0
air_pressure         0
relative_humidity    0
solar_irradiance     0
meteo_timestamp      0
dtype: int64

In [10]:
print(min(AEG_0A.datetime))
print(max(AEG_0A.datetime))

2022-11-11 12:00:28.166
2023-03-16 15:50:12.596